body {
    background-color: #540fd4;
    color: #09df22;
    font-family: Arial, sans-serif;
    margin: 20px;
    
}
p {
    text-align: center;
    color: rgb(198, 234, 162);
}

form, table {
    color: #09df22;
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
}

label {
    display:flexbox;
    margin-bottom: 10px;
}

input, select, textarea {
    background-color: #eae1e4;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #96cd1f;
    color: rgb(192, 75, 151);
    padding: 10px 15px;
    border: none;
    cursor:pointer;
}

button:hover {
    background-color: #df0950;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dfd0d0;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}
h1{
    text-align: center;
}